:root{
    --black-gradient:linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    --black-gradient-light:linear-gradient(109.6deg, rgba(36, 45, 57, 0.5) 11.2%, rgba(16, 37, 60, 0.5) 51.2%, rgba(0, 0, 0, 0.5) 98.6%);
    --blue: #212121;
    --border-color: var(--primary);
    --primary: rgba(33, 33, 33, 0.75)
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    position:relative;
    height:100%;
}

section{
    width:100%;
    height:100vh;
    display:grid;
    place-items: center;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
}